<div class="container">
<h1>Register with Your Email Here</h1>
  <div class="errors">
    <% if @user.errors %>
      <% @user.errors.full_messages.each do |error| %>
        <ul><%= error %></ul>
      <% end %>
    <% end %>
  </div>

  <%= form_for(@user) do |f| %>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name%>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :photo, "Upload photo:" %>
      <%= f.file_field :photo%>
    </div>

    <div class="field actions">
      <%= f.submit "Sign Up"%>
    </div>
  <% end %>
  <h1>Or Register with Facebook Here</h1>
  <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
</div>
