<div class= "headings profile-header">
  <div class="row" id="user-container">
  <div class="col-sm-4 user-info">
    <h2>Languages</h2> <h3><%= @user.display_languages  %></h3>
    <% if current_user && current_user == @user %>
    <% end %>
  </div>
  <div class="col-sm-4 center-block">
    <h3><%= @user.full_name%></h3>
    <h5 id="update"><%= link_to "Update Info", edit_user_path(current_user)%></h5>
  <div id="user-image" style="image">
    <% if @user.uid %>
      <img class="img-circle" src= <%="http://graph.facebook.com/#{current_user.uid}/picture?type=large" %>>
    <% else %>
      <% if @user.photo? %>
        <%= image_tag @user.photo_url, class: "img-circle" %>
      <% else %>
        <%= image_tag "chicago-star" %>
      <% end %>
        <!-- <form class="update-image-form" action="/users/<%#= @user.id %>" method="put">
>>>>>>> master
          <button type="button" class="close pull-right" id="x" aria-hidden="true">×</button>
          <label> Upload Profile Picture </label>
          <input type="file" name="user[photo]">
          <input type="submit" class="btn btn-large" id="photo-submit-button" value="Update">
        </form> -->
    <% end %>
  </div>
  </div>
  <div class="col-sm-4" id="user-details">
    <h2>Member Since: </h2><h3><%=@user.created_at.strftime("%B #{current_user.created_at.day.ordinalize}, %Y")%></h3>
    <h2>Volunteer total: </h2><h3><%=@user.count_volunteer_posts%> posts</h3>
  </div>
</div>


</div>




<div id="message-container">

</div>



<div id="edit-form" class="row">
  <div class="col-lg-3"></div>
  <div class= "col-lg-6" id="edit-user-container">
    <form>
      <button type="button" class="close pull-right" id="x" aria-hidden="true">×</button>
    </form>
    <h2>Update Your Info Here!</h2>
   <div class="errors">
    <% if @user.errors %>
      <% @user.errors.full_messages.each do |error| %>
        <ul><%= error %></ul>
      <% end %>
    <% end %>
  </div>
    <div id="edit-user-form-container">
      <form class="user-edit" action="/users/<%= @user.id %>" method="put">
        <div id="new-user-info">
          <label  for="user[first_name]"> First Name: </label>
          <input id="text" name="user[first_name]" type="text" value=<%=@user.first_name%>><br>
          <label for="user[last_name]"> Last Name: </label>
          <input id="text" name="user[last_name]" type="text" value=<%=@user.last_name%>><br>
          <label for="user[email]"> Email: </label>
          <input id="text" name="user[email]" type="text" value=<%=@user.email %>><br>
          <label for="laguange"> Languages(select all that apply) </label>
          <input id="check" type="checkbox" name="language[English]" <% if @user.known_language?("English")%> checked <% end %>> English
          <input id="check" type="checkbox" name="language[Spanish]" <% if @user.known_language?("Spanish")%> checked <% end %>> Spanish
          <input id="check" type="checkbox" name="language[Japanese]" <% if @user.known_language?("Japanese")%> checked <% end %>> Japanese<br>

          <button type="submit" class="btn-info" id="user-form-submit">Update Info</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>


<div id="user-lists-container" class="text-center">
  <div id="user-posts-index">
    <h2>Recent Posts</h2>
    <nav>
        <ul class="nav nav-pills post-user-tabs">
          <li class="active tab"><a href="#active-posts">Active</a></li>
          <li class="tab"><a href="#inactive-posts">Inactive</a></li>
        </ul>
      </nav>
    <div id="active-posts" class="user-posts">
      <% @user.posts.last(4).reverse.each do |post| %>
        <% if post.active == true %>
          <%= render partial: 'user_post_listing', locals: { post: post } %>
        <% end %>
      <% end %>
    </div>

    <div id="inactive-posts" class="user-posts">
      <% @user.posts.last(4).reverse.each do |post| %>
        <% if post.active == false %>
          <%= render partial: 'user_post_listing', locals: { post: post } %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if current_user && current_user == @user %>
  <div id="user-chains-index">
    <h2>Recent Messages</h2>
    <div id="posts-index-container">
      <% @user.chains.last(4).reverse.each do |chain| %>
        <%= render partial: '/chains/single_chain_listing', locals: { chain: chain } %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>




<!--
<div class="row">
  <div class="col-lg-6 current-posts">
    <h2>Current Posts</h2>
  </div>
  <div class="col-lg-6 recent-messages">
    <h2>Recent Messages</h2>
  </div>
</div> -->


<!--  <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <img id="star" src="/assets/chicago-star.png"/>
                <img id="star" src="/assets/chicago-star.png"/>
                <img id="star" src="/assets/chicago-star.png"/>
                <img id="star" src="/assets/chicago-star.png"/>
            </div>
            <div class="col-sm-3">
            </div>
        </div> -->

