

<div class="user-info">
  <div style="image" id="user-image"><img class="img-circle" src= <%="http://graph.facebook.com/#{current_user.uid}/picture?type=large" %>></div>
  <div class="name"><%= current_user.full_name %></div>
  <div class="languages">Languages: <%=current_user.display_languages%></div>
  <div class="membership">Member Since: <%=current_user.created_at.strftime("%B #{current_user.created_at.day.ordinalize}, %Y")  %></div>
  <div class="volunteered">Volunteer total: <%=current_user.count_volunteer_posts%> posts</div>

</div>

