<div id="new-post-container">
<h1><%= @category.name %></h1>
<h2>Thank you for volunteering! Please provide the details of your volunteer service or donation below.</h2>
	<div class="errors">
    <% if @post.errors %>
      <% @post.errors.full_messages.each do |error| %>
        <ul><%= error %></ul>
      <% end %>
    <% end %>
  </div>
  <div id="new-post-form-container">
		<%= form_for @post, url: category_posts_path(@category, @post) do |f| %>
	  <div id="new-post-info">
	  	<%= f.label :title %>
		  <%= f.text_field :title %>
	    <%= f.label :description %>
	    <%= f.text_area :body %>
      <%= f.label :zip %>
      <%= f.text_field :zip %>
      <%= f.submit "Post service", class: "btn-info" %>
    </div>
    <% end %>
  </div>
</div>
