<div class="headings">
	<h1 class="post-title"><%= @post.category.name %> <i class="fa fa-arrow-right"></i> <%= @post.title %></h1>
	<h3 class="subtitle post-show">If you would like to view this post in another <u>language</u> please use the translation tools below.</h3>
</div>


<div class="row" id="post-details-container">
	<div class="col-lg-8">
		<div id="post-info">
			<p>SERVICE: <%= @post.title %></p>
			<p>DESCRIPTION: <%= @post.body %></p>

			<p>ZIP: #{@post.zip}" %></p>
			<p>VOLUNTEER: <%= @post.author.full_name %></p>
			<p><span><i class="fa fa-globe fa-2x fa-spin"></i></span>Translate post</p>
			<p><i class="fa fa-pencil"></i> Edit this post</p>
			<p><i class="fa fa-trash-o fa-1x"></i> Delete this post</p>
		</div>
	</div>
	<div class="col-lg-4 map">
		<div class="map">
			<p>Map place-holder</p>
			<img src="http://placehold.it/300x300">
		</div>
	</div>
</div>