<div id="category-show-container">



<div class="headings">
<h1><%= @category.name %></h1>
<h3 class="subtitle">Click on any posts to see details or click on the volunteer button if you'd like to add another post.</h3>
<div id="volunteer-button" class="btn btn-info" role="button">
	<% if current_user %>
		<%= link_to 'I want to volunteer!', new_category_post_path(@category)%>
	<% else %>
		<%= link_to 'Signin to volunteer!', signin_path, id: "login-button"%>
	<% end %>
</div>
</div>




	<div class="column-left" id="category-posts-index">
		<h2>Volunteer Posts</h2>
		<div id="posts-index-container">
		<% @category.posts.each do |post| %>
			<div id="individual-post-listing">
				<h4><%= link_to "#{post.title}", category_post_path(@category,post) %></h4>
				<p><%= post.body %></p>
				<p><%= post.posted_date %></p>
			</div>
		<% end %>
		</div>
	</div>

	<div class="column-right" id="categories-orgs-index">
		<h2>Organizations Available</h2>
			<div id="orgs-index-container">
			<% @category.organizations.each do |org| %>
				<h4><%= link_to "#{org.name}", organization_path(org) %></h4>
				<p><%= org.description %></p>
			<% end %>
			</div>
	</div>
</div>
