	<div id="new-post-container">
	<%= render partial: 'posts/new_post_form' %>
	</div>
	
	<div id="post-search-results">
		<div class="errors"></div>
	</div>

	<div class="headings">
		<h1><%= @category.name %></h1>
		<h3 class="subtitle">Click on any posts to see details or click on the volunteer button if you'd like to add another post.</h3>
		<div id="new-post-button" class="btn btn-info" role="button">
			<% if current_user %>
				<%= link_to 'Add a new post', new_category_post_path(@category), class: "btn-large", id: "volunteer-button" %>
			<% else %>
				<%= link_to 'Signin to volunteer!', signin_path, id: "login-to-post-button"%>
			<% end %>
		</div>
	</div>


<div id="category-show-container">

  

<div class="column-left" id="category-posts-index">
	<div id="posts-index-container">
		<h2>Services</h2>
			<nav>
				<ul class="nav nav-pills post-tabs">
				  <li class="active tab"><a href="#services-offered">Offered</a></li>
				  <li class="tab"><a href="#services-wanted">Wanted</a></li>
				    <%= form_tag(category_posts_path(@category), :method => "get", class: "pull-right", id: "search-form") do %>
				    <div class="field">
				    	<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search all #{@category.name} posts" %>
				    </div>
				    <%= text_field_tag :category_id, params[:category_id], type: "hidden", value: "#{@category.id}" %>
				    <div class="field actions">
					    <%= submit_tag "Go", class: "btn btn-large", :name => nil %>
					  </div>
				    <% end %>
				</ul>
			</nav>
		<div class="services" id="services-offered" >
		<% @category.services_offered.each do |post| %>
			<%= render partial: 'single_post_listing', locals: { post: post } %>
		<% end %>
		</div>

		<div class="services" id="services-wanted" >
		<% @category.services_wanted.each do |post| %>
			<%= render partial: 'single_post_listing', locals: { post: post } %>
		<% end %>
		</div>
	</div>
</div>

	<div class="column-right" id="categories-orgs-index">
		<h2>Organizations Available</h2>
				<% @category.organizations.each do |org| %>
			<div id="orgs-index-container">
					<h4><%= org.name %></h4>
					<p><%= org.description %></p>
					<p><a href="<%= org.website %>"><%= org.website %></a></p>
					<p><%= org.address_1 %> <%= org.address_2 %></p>
					<p><%= org.city %> <%= org.state %> <%= org.zip %></p>
			</div>
			<% end %>
	</div>



</div>


