<div id="category-show-container">

	<div class="headings">
		<h1><%= @category.name %></h1>
		<h3 class="subtitle">Click on any posts to see details or click on the volunteer button if you'd like to add another post.</h3>
		<div id="new-post-button" class="btn btn-info" role="button">
			<% if current_user %>
				<%= link_to 'I want to volunteer!', new_category_post_path(@category), id: "volunteer-button" %>
			<% else %>
				<%= link_to 'Signin to volunteer!', signin_path, id: "login-to-post-button"%>
			<% end %>
		</div>
	</div>

<div class="column-left" id="category-posts-index">
	<h2>Services</h2>
		<ul class="nav nav-pills post-tabs">
		  <li class="active"><a href="#services-offered">Offered</a></li>
		  <li><a href="#services-wanted">Wanted</a></li>
		</ul>

	<div id="posts-index-container">
		<div class="services" id="services-offered" >
		<% @category.services_offered.each do |post| %>
			<%= render partial: 'single_post_listing', locals: { post: post } %>
		<% end %>
		</div>
		
		<div class="services" id="services-wanted" >
		<% @category.services_wanted.each do |post| %>
			<%= render partial: 'single_post_listing', locals: { post: post } %>
		<% end %>
		</div>
	</div>
</div>

	<div class="column-right" id="categories-orgs-index">
		<h2>Organizations Available</h2>
			<div id="orgs-index-container">
				<% @category.organizations.each do |org| %>
					<h4><%= link_to "#{org.name}", organization_path(org) %></h4>
					<p><%= org.description %></p>
				<% end %>
			</div>
	</div>



	<div id="new-post-container">
	<%= render partial: 'posts/new_post_form' %>
	</div>
</div>

