<!DOCTYPE html>
<html>
<head>
  <title>Nofences</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "No Fences", '#', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <%# if current_user %>
          <li><%= link_to "Login", signin_path %></li>
          <%# else %>
          <li><%= link_to "Logout", signout_path %></li>
          <%# end %>
        </ul>
      </nav>
    </div>
  </header>
<body>
<div class="container">
  <div id="language-dropdown"><%= link_to_unless I18n.locale == :en, "English", locale: :en  %>
 <%= link_to_unless I18n.locale == :es, "Spanish", locale: :es  %></div>
 
<%= yield %>
</div>
</body>
</html>
