<!DOCTYPE html>
<html>
<head>
  <title>Nofences</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= link_to_unless I18n.locale == :en, "English", locale: :en  %>
 <%= link_to_unless I18n.locale == :en, "Spanish", locale: :es  %>
<%= yield %>

</body>
</html>
